
body{
    overflow-x:hidden !important;
}

.inputsignup_desk {
    float: left;
    width: 100%;
    max-width: initial !important;
}

.inputsignup_desk .newsletter_messages{
    text-align: center;
    color: #000;
    margin-top: 18px;
    font-weight:bold;
    font-style:italic;
    float: left;
    width: 100%;
}

.inputsignup_desk .field_group_newsletter{ 
    height: 60px;
    box-shadow: 0px 0px 18px rgba(0,0,0,30%);
    border-radius: 99px;
    background: rgba(0,0,0,0.3);
    width: 100%;
}

.inputsignup_desk .field_group_newsletter input {
    border-radius: 99px 0px 0px 99px !important;
    float: left;
    height: 60px !important;
    width: 60% !important;
    font-family: 'Montserrat';
    padding: 14px 25px !important;
    border: 0 !important;
    background:#fff !important;
}

.inputsignup_desk .field_group_newsletter input, .inputsignup_desk .field_group_newsletter input:active {
    outline:0 !important;
}

.inputsignup_desk .field_group_newsletter button {
    border-radius: 0px 99px 99px 0px;
    float: left;
    height: 60px;
    background: #000;
    width: 40%;
    font-family: 'Montserrat';
}





@media only screen and (max-width: 800px) {
  
    .inputsignup_desk .field_group_newsletter button {
        border-radius: 99px;
        float: left;
        height: 60px;
        background: #000;
        width: 100%;
        font-family: 'Montserrat';
        margin-top: 20px;
    }

    .inputsignup_desk .field_group_newsletter input {
        border-radius: 99px !important;
        float: left;
        height: 60px !important;
        width: 100% !important;
        text-align:center;
        font-family: 'Montserrat';
        padding: 14px 25px !important;
    }
    
}


.sticky-header2 {
    top: -244px !important;
}

.elementor-invisible {
    visibility: visible !important;
}

/*
.elementor-26 .elementor-element.elementor-element-59fba13b > .elementor-background-overlay {
    opacity: 1 !important;
    mix-blend-mode: multiply;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-image: url(../images/background_fixed.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.elementor-26 .elementor-element.elementor-element-59fba13b > .elementor-background-overlay {
    opacity: 1 !important;
    mix-blend-mode: multiply;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-image: url(../images/background_fixed_2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exclB{
    background: #ff4f00;
    width: 100px;
    height: 100px;
    border-radius: 999px;
    margin: 0 auto;
    border: solid 10px #fff;
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 77px;
    box-shadow: 0px 5px 19px rgb(0 0 0 / 50%);
    position: relative;
    margin-top: -90px;
    margin-bottom: 25px;
}


.elementor-26 .elementor-element.elementor-element-9eecf37 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 200px 0px 0px 0px;
    background: #ccc;
    background-image: url(../images/background_only.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;
}

.site-footer .elementor-section-wrap{
    background-image: url(../images/background_fixed.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
}

.fadeOutStart{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#fff;
    z-index:99999;
}

.animated {
    animation-duration: 0s !important;
}



.terms_extraspace{
    margin-left: 18px;
}

.terms_extraspace a{
    color:#fff;
}

.terms_extraspace a:hover{
    color:rgba(255,255,255,0.6);
}

.borderleft_bottom{
    border-left:solid 1px rgba(255,255,255,0.6);
    padding-left:18px;
}

.terms_conds{
    margin-top: 0px !important;
}

.terms_conds h1{ font-weight:bold; }

.terms_conds h1, .terms_conds h2, .terms_conds h4, .terms_conds h5, .terms_conds p{
    margin-top:15px;
    margin-bottom:15px;
}

.terms_conds h3{
    margin-top:30px;
    margin-bottom:20px;
}

.terms_conds p{
    text-align:justify;
}

.terms_conds p, .terms_conds li{
    font-size:0.9em;
}

.terms_conds li{
    margin-top:10px;
    margin-bottom:10px;
}

.terms_conds h1, .terms_conds h2, .terms_conds h3, .terms_conds h4, .terms_conds h5, .terms_conds p, .terms_conds li, .terms_conds a{
    float:left;
    width:100%;
    font-family:Montserrat;
    
}

.terms_conds .elementor-container{
    display:block !important;
}

.terms_conds .elementor-container ul li, .terms_conds .elementor-container ul{
    float:left;
    width:100%;
}

 .terms_conds .elementor-container ul{
    float:left;
    width:100%;
    padding:0;
    margin: 15px;
}

.terms_conds h6{
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-top: 15px;
}

.terms_conds table{
    font-family: 'Montserrat';
    text-align: left;
}

.bolds_{
    font-weight:bold;
}

.partnerships h1, .tokenomicsIDO h1{
    float:left;
    width:100%;
    text-align:center;
    font-weight:bold;
    color: #0007C0;
    font-family: "Montserrat", Sans-serif;
    font-size: 73px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 60px;
}

.partnerships .elementor-container{
    display: block !important;
}

.partnerships .elementor-row{
    text-align:center;
    display:block;
}

.partnerships .elementor-row img{
    height: 60px;
    width: auto;
    margin: 35px 43px;
}

.partnerships .elementor-row img.pet{
    height: 45px;
}

.partnerships .elementor-row img.spe{
    height: 95px;
}

.partnerships .elementor-row img.spe1{
    height: 85px;
}

.partnerships .elementor-row img.spe2{
    height: 110px;
}

.partnerships .elementor-row a{
    display: inline-block;
}

.partnerships .linelogos{
    width: 100%;
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.teamMembers .lastTwo{
    float: none;
    display: inline-block !important;
    margin: 0px 15px;
}

.teamMembers .centerItems{
    text-align: center;
    display: block;
}

.partnerships .introPartners{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    padding: 20px 20px 50px 20px;
}

.hackenlink img{
    width: 12px;
    float: left;
    margin-right: 4px;
}

.hackenlink{
    cursor: pointer;
    border: solid 1px #fff;
    padding: 8px 12px 8px 12px;
    border-radius: 4px !important;
    font-weight: bold;
}

.hacken_audit img {
    width: 100%;
    float: none;
    max-width: 1000px !important;
    border-radius: 9px !important;
    display: inline-block;
}

.hacken_audit .elementor-row{
    text-align: center;
    display: initial;
}

.hacken_audit a{
    text-decoration:none;
    position: relative;
    transform: scale(1);
    float: left;
    width: 100%;
    cursor: pointer;
}

.hacken_audit a:hover{
    text-decoration:none;
    transform:scale(1.05);
}

.effectAnimation{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.bannerNotif .leftPart{
    float:left;
    width:50%;
    position:relative;
    padding: 10px;
}

.bannerNotif .leftPart .centered{
    position:relative;
    transform:translateY(-50%);
    top:50%;
    float:left;
}

.bannerNotif .rightPart{
    float:left;
    width:50%;
}

.bannerNotif .leftPart h1{
    text-align:center;
    float:left;
    width:100%;
    color:#fff;
    font-family:Montserrat;
    font-weight:bold;
    text-shadow: 1px 3px 10px rgba(0,0,0,0.4);
    font-style: italic;
    font-size: 2em;
}

.bannerNotif .leftPart h2{
    text-align:center;
    float:left;
    width:100%;
    color:#fff;
    font-family:Montserrat;
    font-weight:bold;
    margin-bottom:0px;
    text-shadow: 1px 3px 10px rgba(0,0,0,0.4);
    font-style: italic;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    font-size: 1.7em;
}


.bannerNotif .leftPart h3 {
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 0px;
    text-shadow: 1px 3px 10px rgb(0 0 0 / 40%);
    font-style: italic;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 27px;
}

/*
.bannerNotif .leftPart h3{
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 0px;
    text-shadow: 1px 3px 10px rgb(0 0 0 / 40%);
    font-style: italic;
    font-size: 1.4em;
    margin-top: 10px;
}
*/

.bannerNotif .leftPart h3 a{
    color:#fffed1;
    text-decoration: underline;
    font-size: 0.8em !important;
    display: inline-block;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.bannerNotif .rightPart .concret{
    text-align:center;
    float:left;
    width:100%;
}

.bannerNotif .rightPart .concret h3{
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 1.3em;
    margin-top: 20px;
    text-shadow: 1px 2px 7px rgba(0,0,0,0.4);
}


.bannerNotif .rightPart .concret p{
    text-align:center;
    float:left;
    width:100%;
    color:#fff;
    font-family:Montserrat;
    margin-bottom:5px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.hacken_audit.bIDO{
    margin-bottom: 100px !important;
}

.bannerNotif .elementor-column-wrap {
    padding:5px 35px 5px 35px;
}

img.bannerIDO{
    max-width: 800px !important;
}

.bannerNotif.testing .centered{
    float: left;
    width: 100%;
    text-align:center;
}

.bannerNotif.testing h1{
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 0px;
}

.bannerNotif.testing h2{
    margin: 5px 0px 5px 0px;
}

.bannerNotif.testing{
    padding: 10px !important;
}


.privacypolicies-com---palette-light.privacypolicies-com---nb{
    width: calc(100% - 40px) !important;
    max-width: inherit !important;
    border-radius: 10px !important;
    margin: 20px !important;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.40) !important;
}

.privacypolicies-com---palette-light .cc-nb-okagree {
    color: #fff;
    background-color: #d07e00 !important;
    border-radius: 99px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.privacypolicies-com---palette-light .cc-nb-reject {
    color: #fff;
    background-color: #d07e00 !important;
    border-radius: 99px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.privacypolicies-com---palette-light .cc-nb-changep {
    color: #6c6c6c;
    background-color: #d7d7d7 !important;
    border-radius: 99px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.privacypolicies-com---palette-light .cc-nb-title {
    color: #111;
    font-family: Montserrat;
    font-weight: bold;
}

.privacypolicies-com---palette-light .cc-nb-text {
    color: #111;
    font-family: Montserrat;
    font-weight: thin;
}


.leftPart.cent{
    width:100% !important;
}


.contMainPartner{
    float: left;
    border: solid 1px #ccc;
    border-radius: 9px;
    max-width: 915px;
    padding: 0px 40px 40px 40px;
    margin-bottom: 70px;
}

.contMainPartner a{
    margin-top: -65px;
    background: #fff;
}

.contMainPartner .mainQuote{
    float:left;
    width:100%;
    font-family:Montserrat;
    font-style:italic;
}

.contMainPartner .authorQuote{
    float:left;
    width:100%;
    font-family:Montserrat;
    font-style:italic;
    margin-top:20px;
}

/*.elementor-element-29b73655{
    width: auto;
    float: left;
}

.elementor-element-69117d73{
    float: right;
    padding: 28px;
}

header .elementor-row{
    width: 100%;
    display: inline-block;
}*/

.elementor-nav-menu--layout-horizontal .elementor-nav-menu{
    flex-wrap: initial !important;
}

.inoutZoomBtn{
    transform: scale(1);
    animation-name: example;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.goIdo{
    position: fixed;
    right: 20px;
    top: 175px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat';
    color: #fff;
    border-radius: 999px;
    font-weight: 700;
    z-index: 999;
    border: solid 1px #fff;
    background-color: transparent;
    background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
}

.goIdo:hover{
    color:#fff;
}

.goIdo img{
    width: 28px;
    height: auto;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 0px;
    float: left;
}

.applyIdo{
    position: fixed;
    right: 20px;
    top: 112px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat';
    color: #fff;
    border-radius: 999px;
    font-weight: 700;
    z-index: 999;
    border: solid 1px #fff;
    background-color: transparent;
    background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
}

.applyIdo:hover{
    color:#fff;
}

.applyIdo img{
    width: 28px;
    height: auto;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 0px;
    float: left;
}


.bannerBtnInfo, .bannerBtnInfo:hover, .bannerBtnInfo:active, .bannerBtnInfo:visited{
    color: #fff;
    border: solid 2px #fff;
    padding: 10px 25px;
    border-radius: 99px;
    font-style: italic;
    position: relative;
    line-height: 80px;
    top: 3px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.elementor-57 .elementor-element.elementor-element-8705349 .elementor-social-icon {
    --icon-padding: 0.2em;
}

.elementor-57 .elementor-element.elementor-element-8705349 .elementor-social-icon i{
    size:16px;
}

.bannerBtnInfo i, .bannerBtnInfo:hover i{
    color:#fff;
}

.tokenomicsIDO{
    padding:40px;
}

.tokenomicsIDO img{
    width:100%;
    max-width:800px !important;
}

.tokenomicsIDO .tokenomicsTable{
    float: left;
    width: 100%;
    font-family: 'Montserrat';
    text-align: left;
    font-size: 0.85em;
    margin-bottom:0px;
}

.tokenomicsIDO .values{
    background: #f1f1f1;
    padding: 23px;
    margin-bottom: 40px;
    border-radius: 7px;
    font-family: 'Montserrat';
}

.tokenomicsIDO .values .left{
    float:left;
    width:50%;
}

.tokenomicsTable td, .tokenomicsTable th{
    padding: 12px 22px !important;
}

.tokenomicsIDO .values .right{
    float:left;
    width:50%;
    text-align:right;
}

.elementor-57 .elementor-element.elementor-element-8705349 .elementor-icon {
    margin-right: -3px;
}

.bannerSticky{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 0px;
    z-index: 9999;
    background-size: cover;
    background-position: bottom center;
    background-image: url(../images/background_fixed.jpg);
}

.bannerSticky .leftPart, .bannerSticky .rightPart{
    width: 50% !important;
    float: left;
    text-align: center;
    padding:15px;
}

.bannerSticky h2, .bannerSticky h1, .bannerSticky h3{
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 0px;
    text-shadow: 1px 3px 10px rgb(0 0 0 / 40%);
    font-style: italic;
    margin-top: 2px !important;
    margin-bottom: 6px !important;
    font-size: 0.9em;
    line-height: 1.5em;
}

.tutorialBtn{
    position: fixed;
    left: 20px;
    top: 112px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat';
    color: #fff;
    border-radius: 999px;
    font-weight: 700;
    z-index: 999;
    border: solid 1px #fff;
    background-color: transparent;
    background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
}

.howtoBtn{
    position: fixed;
    left: 20px;
    top: 168px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat';
    color: #fff;
    border-radius: 999px;
    font-weight: 700;
    z-index: 999;
    border: solid 1px #fff;
    background-color: transparent;
    background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
}

.countdown{
    /*
    position: fixed;
    right: 20px;
    text-align: center;
    top: 163px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: 700;
    z-index: 999;
    border: solid 0px #fff;
    background-color: #fff;
    */
    position: fixed;
    left: 20px;
    top: 112px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat';
    color: #fff;
    border-radius: 999px;
    font-weight: 700;
    z-index: 999;
    border: solid 1px #fff;
    background-color: transparent;
    background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
}


.bannerSticky h3 a{
    color:#fff;
    text-decoration: underline !important;
}

.bannerSticky h1 a{
    color:#fff !important;
}

.bannerSticky h1{
    font-size: 1.3em !important;
    line-height: 1.4em;
}

.bannerSticky .bannerBtnInfo, .bannerSticky .bannerBtnInfo:hover, .bannerSticky .bannerBtnInfo:active, .bannerSticky .bannerBtnInfo:visited {
    color: #fff;
    border: solid 1px #fff;
    padding: 5px 15px;
    border-radius: 99px;
    font-style: italic;
    position: relative;
    line-height: 16px;
    top: 3px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 0.8em;
    margin-left: 8px;
    display: inline-block;
}

.ticker {
    margin: 20px 0px 20px 0px !important;
}

.bannerSticky h2{
    font-size: 1em !important;
    margin-bottom: 10px !important;
}

.elementor-61 .elementor-element.elementor-element-c28a054{
    padding: 0px 0px 0px 0px !important;
}

.elementor-57 .elementor-element.elementor-element-13234fa img {
    height: 51px !important;
    float: left;
    margin: 11px 0px 0px 15px;
    padding: 0;
}

.elementor-57 .elementor-element.elementor-element-13234fa > .elementor-widget-container {
    margin: 0 !important;
}

.hide{ display:none !important; }

.goToPlatf{
    border: solid 1px #fff;
    padding: 8px 16px;
    border-radius: 999px;
    line-height: 2.6em;
    text-decoration:none !important
}

.socialFloats{
    right: 15px;
    top: 50%;
    position: fixed;
    transform: translateY(-50%);
    width: 37px;
    z-index: 999;
}

.socialFloats a{
    width: 37px;
    height: 37px;
    background: #000;
    border-radius: 999px;
    padding: 6px 7px 8px 7px;
    text-align: center;
    float: left;
    margin-bottom: 6px;
    border: solid 1px #fff;
    position: relative;
}

.socialFloats a i{
    color: #fff;
    font-size: 1.1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.bannerSticky .goToPlatf {
    border: solid 0px #fff;
    padding: 0;
    line-height: 0;
}

.elementor-element-0843aa4{
    display:none;
}

.socialsPrevs{
    display:none !important;
}

.elementor-element-8705349{
    display:none;
}

.elementor-element-ab68684{
    display:none;
}

.elementor-57 .elementor-element.elementor-element-ddb5425 > .elementor-widget-container {
    float: right;
}

.elementor-57 .elementor-element.elementor-element-77a2243 > .elementor-widget-container {
    border-width: 0px 0px 0px 0px !important;
}

.klaviyo_condensed_styling, .klaviyo_styling {
    margin-bottom: 0px !important;
    padding: 0px 35px 0px 0px !important;
}

.bannerSticky .goToPlatf.newido {
    line-height: 0;
    padding: 9px 15px;
    text-decoration: none !important;
    border: solid 1px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    padding: 17px;
    margin-top: 10px;
}


.elementor-61 .elementor-element.elementor-element-c28a054 {
    padding: 0px 0px 80px 0px !important;
}

@media (max-width: 1100px){
    .elementor-57 .elementor-element.elementor-element-ddb5425 > .elementor-widget-container {
        display:none !important;
    }
}

@media (min-width: 767px){

    .elementor-57 .elementor-element.elementor-element-4c10ef7 {
        width: 33.471% !important;
    }

    .elementor-57 .elementor-element.elementor-element-3dbd427 {
        width: 18.277% !important;
    }

    .elementor-57 .elementor-element.elementor-element-ca2778f {
        width: 46.87%  !important;
    }
}


@media (max-width: 767px){

    .elementor-26 .elementor-element.elementor-element-bf0286b {
        margin-bottom: 0 !important;
    }

    .elementor-26 .elementor-element.elementor-element-244927b > .elementor-element-populated {
        margin: 0px 0px 70px 0px !important;
    }

    .inputsignup_desk .field_group_newsletter{ 
        height: 46px !important;
    }

    .partnerships .introPartners {
        padding: 0 !important;
    }

    .elementor-57 .elementor-element.elementor-element-54a7642d {
        padding: 16px 20px 5px 20px !important;
    }

    .elementor-57 .elementor-element.elementor-element-15936a24 div.elementor-menu-toggle {
        margin-top: -6px !important;
        margin-bottom: 4px !important;
    }

    .elementor-26 .elementor-element.elementor-element-67b3a17 .elementor-headline {
        font-size: 17px !important;
    }

    .elementor-26 .elementor-element.elementor-element-60039cb .elementor-headline {
        font-size: 35px !important;
        line-height: 1em !important;
    }

    .elementor-26 .elementor-element.elementor-element-4d10663 {
        font-size: 16px !important;
    }

    .inputsignup_desk .field_group_newsletter button {
        height: 46px !important;
        margin-top: 8px !important;
    }

    .partnerships h1, .tokenomicsIDO h1 {
        margin-bottom: 45px;
    }
    
    .inputsignup_desk .field_group_newsletter input {
        height: 47px !important;
        padding: 12px 25px !important;
    }

    .elementor-26 .elementor-element.elementor-element-60039cb .elementor-headline {
        font-size: 35px !important;
        line-height: 1em !important;
    }

    .elementor-26 .elementor-element.elementor-element-5832a16 > .elementor-container {
        max-width: 390px !important;
    }

    .elementor-26 .elementor-element.elementor-element-07fbe88 {
        margin-bottom: 0px !important;
    }

    .elementor-26 .elementor-element.elementor-element-60039cb .elementor-headline {
        line-height: 1em !important;
    }

    .btnEmergent {
        z-index: 99999 !important;
    }

    .tokenomicsTable td, .tokenomicsTable th {
        padding: 8px 12px !important;
        font-size: 11px;
    }

    .klaviyo_condensed_styling, .klaviyo_styling {
        padding: 0px 0px 0px 0px !important;
    }
    
    .elementor-element-ab68684{
        display:block;
    }

    .elementor-element-8705349{
        display:block;
    }

    .socialFloats{
        display:none;
    }

    .socialsPrevs{
        display:block !important;
    }

    .exclB{
        margin-top: -15px !important;
    }

    .lessTope{
        top:68px !important;
    }

    .elementor-26 .elementor-element.elementor-element-47cc93a {
        margin-top: -40px !important;
    }

    .countdown {
        position: fixed;
        left: 0;
        width: 100%;
        text-align: center;
        top: 85px;
        padding: 10px 20px 10px 20px;
        font-family: 'Montserrat';
        color: rgb(0, 0, 0);
        font-weight: 700;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        border-radius: 0px;
        background-image: none;
        border: 0;
    }


    .howtoBtn, .howtoBtn:hover{
        position: fixed;
        right: 20px;
        bottom: 75px;
        padding: 13px 20px 13px 20px;
        font-family: 'Montserrat';
        color: #fff;
        border-radius: 0px 0px 26px 25px;
        font-weight: 700;
        z-index: 999;
        border: solid 1px #fff;
        background-color: transparent;
        background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
        top: initial;
        text-align: center;
    }

    .tutorialBtn, .tutorialBtn:hover{
        position: fixed;
        right: 20px;
        bottom: 127px;
        padding: 13px 20px 13px 20px;
        font-family: 'Montserrat';
        color: #fff;
        border-radius: 25px 25px 0px 0px;
        font-weight: 700;
        z-index: 999;
        border: solid 1px #fff;
        background-color: transparent;
        background-image: linear-gradient( -68deg, #ffa500 25%, #ff7600 83%);
        top: initial;
        text-align: center;
    }


    .elementor-61 .elementor-element.elementor-element-c28a054{
        padding: 0px 0px 0px 0px;
    }

    .bannerSticky{
        display:none !important;
    }

    .bannerNotif.testing .centered {
        height: 500px !important;
        overflow-y: visible !important;
        padding: 40px !important;
    }

    .bannerNotif .elementor-column-wrap {
        padding: 0 !important;
        max-height: 500px;
        overflow-y: scroll;
    }

    .bannerNotif.testing {
        padding: 0px !important;
    }

    .bannerNotif .leftPart {
        margin-bottom: 0px !important;
        padding: 0;
    }

    .bannerNotif .leftPart h2 {
        /*padding-bottom: 120px !important;*/
        padding-bottom: 0px !important;
    }

    .bannerNotif .leftPart h3 {
        font-size: 1.2em !important;
        line-height: 1.4em !important;
    }

    .goToPlatf {
        /* line-height: 6.6em; */
        line-height: normal;
        font-size: 0.7em;
        width: 100%;
        float: left;
        margin-top: 10px;
    }


    .contMainPartner a img {
        margin: 16px !important;
        max-width: 133px;
        height: auto !important;
    }

    .elementor-57 .elementor-element.elementor-element-ab68684 .elementor-social-icon {
        --icon-padding: 0.25em;
        margin-right: -4px;
    }

    .elementor-57 .elementor-element.elementor-element-ab68684 .elementor-social-icon i {
        font-size: 17px;
    }

    .elementor-26 .elementor-element.elementor-element-00c20c3 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-26 .elementor-element.elementor-element-1895c9f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
        padding: 0px 20px 0px 20px;
    }

    .elementor-57 .elementor-element.elementor-element-69117d73 {
        width: 80% !important;
    }

    .elementor-57 .elementor-element.elementor-element-29b73655 {
        width: 20%  !important;
    }

    .elementor-57 .elementor-element.elementor-element-3dbd427 {
        width: 80% !important;
    }

    .elementor-57 .elementor-element.elementor-element-ca2778f {
        width: 20% !important;
    }

    .tokenomicsIDO {
        padding: 0px 0px 40px 0px;
    }
    
    .elementor-cont .elementor-row.begin{
        margin-top: -370px !important;
        display: inline-flex;
    }



    /*.elementor-element-69117d73{
        float: left;
        padding: 0;
    }

    .elementor-element-29b73655{
        float: right;
    }*/
    /*
    .goIdo{
        top: initial;
        bottom: 72px;
    }
    */

    .goIdo{
        top: initial;
        bottom: 15px;
        width: calc(50% - 20px);
        text-align: center;
        right: 20px;
        animation-name: none;
        font-size: 0.7em;
        line-height: 2em;
        border-radius: 0px 999px 999px 0px;
    }

    .applyIdo{
        top: initial;
        bottom: 15px;
        width: calc(50% - 20px);
        text-align: center;
        left: 20px;
        animation-name: none;
        font-size: 0.7em;
        line-height: 2em;
        border-radius: 999px 0px 0px 999px;
    }

    .ticker {
        bottom: 76px !important;
    }


    .elementor-61 .elementor-element.elementor-element-c28a054 {
        padding-bottom:80px;
    }

    .partnerships h1, .tokenomicsIDO h1{ 
        font-size: 37px;
    }
    .elementor-26 .elementor-element.elementor-element-fb7638d > .elementor-element-populated {
        margin: 0px 0px 70px 0px !important;
    }
    .elementor-26 .elementor-element.elementor-element-2a2a3b9 > .elementor-element-populated {
        margin: 0px 0px 70px 0px !important;
    }
    .elementor-26 .elementor-element.elementor-element-f4cca88 > .elementor-element-populated {
        margin: 0px 0px 70px 0px !important;
    }
    .partnerships .elementor-row {
        margin-bottom: 40px;
    }
    .teamMembers .lastTwo {
        margin: 0;
        width: 100% !important;
    }
    .centeredfirst{
        max-height: 259px !important;
        padding-bottom: 10px !important;
    }
    .elementor-61 .elementor-element.elementor-element-c28a054 {
        padding: 0px 0px 222px 0px !important;
    }

    .bannerNotif .leftPart h3 a{
        padding: 10px !important;
        margin-bottom: 0 !important;
    }

}

@media (max-width: 1200px){
    
    .contMainPartner{
        max-width:calc(100% - 80px);
        margin: 40px;
    }

    .partnerships .linelogos{
        display: inline-block;
    }
    .elementor-nav-menu--layout-horizontal{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .bannerNotif .leftPart{
        width:100%;
        margin-bottom: 30px;
    }
    .bannerNotif .rightPart{
        width:100%;
    }
}

@media (max-width: 1600px){
    .elementor-26 .elementor-element.elementor-element-78a9066 > .elementor-widget-container {
        margin: -20px 0px 0px 0px !important;
    }
}